$white: #fff;
$black: #000;
$success: #389e0d;
$success-border: #b7eb8f;
$success-background: #f6ffed;
$error-border: #ffccc7;
$error-background: #fff2f0;
$warning-border: #ffe58f;
$warning-background: #fffbe6;
$info-border: #91d5ff;
$info-background: #e6f7ff;
